*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
/*清除浮动*/
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
}
ul{
    list-style: none;
}
body{
    background-color: #F7E2E7;
}
.left{
    position: fixed;
    left: 0;
    width:15%;
    height: 100%;
    background-color: #F04550;
    border-radius: 0 5% 5% 0;
}

.left li{
    width: 100%;
    height: 10%;
    margin-top:15%;
    /* background-color: brown; */
    text-align: center;
}
.left li a{
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
    /* background-color: aqua; */
}

.left li:nth-child(1){
    width: 100%;
    height: 10%;
    margin-top:30%;
    /* background-color: brown; */
    text-align: center;
}
li a:nth-child(3){

    display: block;
    width: 50%;
    height: 60%;
    /* background-color: #F7E2E7; */
}
.left li:nth-child(3){
    position: absolute;
    top :80%;
    width: 100%;
    height: 10%;
    /* background-color: black; */
    text-align: center;
}
.con{
    position: absolute;
    left:15%;
    width: 65%;
    height: 100%;
    /* background-color: pink; */
}
.conTop{
    left: 15%;
    height: 50px;
    width: 100%;
    /* background-color:green; */
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    font-size: 30px;
}
/*.context{*/
/*    margin-top: 30px;*/
/*    width: 100%;*/
/*    !* background-color: blueviolet; *!*/
/*}*/


.right{
    position: fixed;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #71BBEA;
}
.Rtop{
    height: 10%;
    width: 100%;
    /* background-color: aqua; */
    text-align: center;
    padding-top: 3%;
}
.Rcon{
    height: 70%;
    width: 100%;
    /* background-color: blueviolet; */
}
.Rsum{
    height: 10%;
    width: 100%;
    /* background-color: beige; */
}
.RBut{
    height: 10%;
    width: 100%;
    /* background-color: cadetblue; */
}
.Rbut input{
    position: absolute;
    width: 30%;
    height: 6%;
    left: 35%;
    bottom: 2%;
    background-color: #F04550;
    border-radius: 10%;
    font: 12px sans-serif;
}
.Rbut input:hover{
    position: absolute;
    width: 35%;
    height: 7%;
    left: 32.5%;
    bottom: 1.5%;
    background-color: #F04550;
    border-radius: 10%;
    font: 14px sans-serif;
}